<div class="mt-4 text-white">
  <p>Under nav bar</p>
</div>
<div class="container">
  <div class="mb-3">
    <h5 class="main-font-family text-center">
      <span>{{ currentTextActivity }}</span>
    </h5>
  </div>
  <div class="mt-3">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/conference.jpg" alt="image" class="img-fluid">
      </div>
      <div class="col-md-8 main-font-family">
        <h5 class="text-warning text-start"><b>CONFERENCES</b></h5>
        <p style="text-align: justify;">
          Les conférences du Forum Gabon Tunisie des Affaires et de la Coopération porteront sur les opportunités d'investissement
          dans des secteurs tels que l'énergie, l'agriculture, les infrastructures, le tourisme et les technologies de l'information
          et de la communication.<br>
          Les intervenants partageront leurs expériences et expertises, discuteront des défis auxquels sont confrontés les investisseurs
          et entrepreneurs, et présenteront les mesures gouvernementales pour faciliter les échanges et encourager les investissements
          bilatéraux. L'objectif est de renforcer les liens économiques et commerciaux entre le Gabon et la Tunisie en favorisant les
          partenariats et la coopération dans ces domaines clés.
        </p>
      </div>
    </div>
  </div>

  <div class="mt-3">
    <div class="row">
      <div class="col-md-8 main-font-family">
        <h5 class="text-warning text-end"><b>WORKSHOP</b></h5>
        <p style="text-align: justify;">
          Les ateliers du Forum Gabon Tunisie des Affaires et de la Coopération sont des sessions interactives conçues pour
          approfondir des sujets spécifiques et favoriser l'échange de connaissances entre les participants. Plusieurs ateliers
          seront organisés, couvrant des domaines clés tels que l'énergie, l'agriculture, les infrastructures,
          le tourisme et les technologies de l'information et de la communication.<br>
          Chaque atelier sera animé par des experts et des professionnels du secteur, qui partageront leurs expertises, bonnes
          pratiques et perspectives. Les participants auront ainsi l'opportunité d'explorer des opportunités concrètes
          d'investissement, de discuter des défis et des solutions innovantes, et d'établir des contacts professionnels précieux.
        </p>
      </div>
      <div class="col-md-4">
        <img src="assets/tableronde.png" alt="image" class="img-fluid">
      </div>
    </div>
  </div>

  <div class="mt-3">
    <div class="row">
      <div class="col-md-4">
        <img src="assets/salle_exposition.png" alt="image" class="img-fluid">
      </div>
      <div class="col-md-8 main-font-family">
        <h5 class="text-warning text-start"><b>EXPOSITION</b></h5>
        <p style="text-align: justify;">
          Cet espace d'exposition constitue une opportunité pour les participants de présenter leurs offres,
          de promouvoir leurs activités et de renforcer leur visibilité auprès d'un public international.<br>
          Les exposants auront la possibilité de présenter leurs innovations, leurs réalisations et leurs compétences spécifiques.
          Les visiteurs pourront découvrir les dernières avancées technologiques, les opportunités d'investissement et les produits
          de qualité des entreprises gabonaises et tunisiennes.
        </p>
      </div>
    </div>
  </div>

  <div class="mt-3 text-center main-font-family">
    <h3 class="text-warning">
      Au forum Gabon Tunisie des affaires et de la coopération c'est aussi
    </h3>
    <div class="row mt-2">
      <div class="col-md-4 text-center">
        <img src="assets/b2b.png" alt="networking" class="img-fluid" height="250" width="350">
        <h3><b>Rendez-vous B2B</b></h3>
        <p>
          Rencontres et reunions prévues tout au long des 3 jours
        </p>
      </div>
      <div class="col-md-4 text-center">
        <img src="assets/award_new.png" alt="forum" height="250" width="350" class="img-fluid">
        <h3><b>Forum Award</b></h3>
        <p>
          Cette première récompensera
          les entrepreneurs qui auront présenté le meilleur
          projet d'entreprenariat
        </p>
      </div>
      <div class="col-md-4 text-center">
        <img src="assets/Networking.png" alt="networking" class="img-fluid" height="250" width="350">
        <h3><b>Networking</b></h3>
        <p>
          Sessions de networkings, after work, expositions
        </p>
      </div>

    </div>
  </div>



</div>
