<div class="mt-4 text-white">
  <p>Under nav bar</p>
</div>
<div class="container mt-2">
  <div class="main-font-family">
    <h5>
      Le Forum Gabon-Tunisie des Affaires et de la Coopération est une plateforme dynamique dédiée à la promotion des
      échanges économiques et commerciaux entre le Gabon et la Tunisie. Ce forum aura l'immense plaisir d'accueillir des
      dés chefs d'entreprises,diplomates,des experts et des represnetants gouvernementaux du Gabon et de la Tunisie pour
      échanger sur les enjeux d'une cooperation sud sud. Le forum Gabon Tunisie des Affaires et dela cooperation est un atout
      communicationnel pour votre entreprise. Retrouvez dix bonnes raisons d'exposer au Forum Gabon Tunisie des Affaires et de
      la Cooperation.
    </h5>
    <ul class="ul-style">
      <li>
        <b class="text-warning">Oportunité de Networking :</b> C'est une occasion unique d'élargir votre réseaux professionnel et d'établir des contacts clés qui peuvent contribuer à la croissance de votre entreprise.
      </li><br>
      <li>
        <b class="text-warning">Échange d'expertise :</b> Le forum réunit des professionnels de divers secteurs d'activité, ce qui permet un partage d'expertise.
      </li><br>
      <li>
        <b class="text-warning">Visibilité institutionnelle :</b> La participation à un événement international de cette envergure peut renforcer la crédibilité et l'image de votre entreprise.
      </li><br>
      <li>
        <b class="text-warning">Booster votre image de marque :</b> Renforcer votre image de marque et renforcer la confiance des clients en votre entreprise.
      </li><br>
      <li>
        <b class="text-warning">Couverture médiatique :</b> Votre participation peut vous offrir une visibilité médiatique, avec des interviews, des articles ou des reportages qui mettent en avant votre entreprise.
      </li><br>
      <li>
        <b class="text-warning">Promouvoir votre entreprise :</b> En exposant votre entreprise lors de cet événement, vous pouvez bénéficier d'une visibilité accrue grace aux médias.
      </li><br>
      <li>
        <b class="text-warning">Identification de partenariats :</b> Vous pouvez identifier des partenaires stratégiques potentiels pour votre entreprise. Le forum offre un terrain propice à la création de partenariats mutuellement bénéfiques.
      </li><br>
      <li>
        <b class="text-warning">Opportunités d'investissement :</b> Si vous êtes à la recherche d'opportunités d'investissement, le forum peut vous fournir une plateforme pour identifier des nouveaux projets attractifs.
      </li><br>
      <li>
        <b class="text-warning">Découvrir un nouveau marché :</b> Vous avez l'opportunité de découvrir de nouveaux marchés, de nouveaux produits et de nouvelles opportunités commerciales.
      </li><br>
      <li>
        <b class="text-warning">Expansion de votre entreprise :</b> En découvrant de nouveaux marchés et en identifiant de nouvelles opportunités, vous pouvez envisager de développer votre entreprise et de l'étendre à de nouveaux marchés.
      </li>
    </ul>
  </div>
  <div class="mt-3">
    <p class="text-center main-font-family">
      Plusieurs opportunités à saisir au <b>FORUM GABON-TUNISIE DES AFFAIRES ET DE LA COOPERATION</b><br>
      Profitez d'une campagne marketing complète pour attirer tous les visiteurs vers votre stands
    </p>
    <div class="row mt-2">
      <div class="col-md-6">
        <img src="assets/Exposition.png" alt="exposition" class="img-fluid">
      </div>
      <div class="col-md-6">
        <div class="mt-5 mb-5">
          <p class="text-white">forum gabon-tunisie</p>
        </div>
        <div class="mt-xl-5">
          <button class="btn btn-warning btn-lg" (click)="gotoInscription()">
            <b class="text-center text-white">
              RESERVEZ VOTRE STANDS
            </b>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
