<div class="mt-4 text-white">
  <p>Under nav bar</p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="about-circle-container">
        <div class="about-circle">
          <img src="assets/le_cc.jpg" alt="cc" class="img-fluid">
        </div>
      </div>
      <div class="mt-2 main-font-family">
        <h3 class="bg-warning text-white text-center">
          <b>Frank AUBAME ONDZAGHA</b>
        </h3>
        <p style="text-align: justify;">
          Chargé d'affaires A.I , Ambassade de la République Gabonaise près la République Tunisienne
        </p>
      </div>
    </div>
    <div class="col-md-8 main-font-family">
      <p style="text-align: justify;">
        Le Forum Gabon-Tunisie des Affaires et de la Coopération est une plateforme
        dynamique dédiée à la promotion des échanges économiques et commerciaux entre
        le Gabon et la Tunisie. Cet événement d'envergure, que nous souhaitons organiser
        chaque année, vise à renforcer les liens entre les deux pays, favoriser
        les partenariats d'affaires et stimuler la coopération économique.
      </p>
      <p style="text-align: justify;">
        Le Gabon et la Tunisie partagent une volonté commune de développer leurs économies
        respectives et d'explorer de nouvelles opportunités de croissance.
        En rassemblant des acteurs clés du monde des affaires, des entrepreneurs,
        des investisseurs, des décideurs politiques et des représentants gouvernementaux
        des deux pays, ce forum offre une plateforme unique pour discuter, échanger des
        idées et concrétiser des projets.
      </p>
      <p style="text-align: justify;">
        Le Forum Gabon-Tunisie des Affaires et de la Coopération offre un cadre propice
        à la création de synergies entre les secteurs économiques des deux pays.
        Les participants auront l'occasion d'explorer de nouvelles perspectives
        commerciales, d'identifier des opportunités d'investissement, d'établir des
        partenariats stratégiques et de développer des réseaux solides.
      </p>
      <p style="text-align: justify;">
        Les thèmes abordés lors du forum couvriront un large éventail de secteurs,
        tels que l'énergie, les infrastructures, l'agriculture, le tourisme,
        les technologies de l'information et de la communication,
        et bien d'autres encore. Des tables rondes, des conférences,
        des séances de networking et des rencontres B2B seront organisés
        afin de favoriser les échanges et de stimuler les collaborations entre les participants.
      </p>
      <div class="p-2 mb-3 text-center">
        <button class="btn btn-warning text-white" (click)="gotoInscriptionComponent()">
          <b>INSCRIPTION</b>
        </button>
      </div>
    </div>
  </div>
</div>
