<nav class="navbar navbar-expand-lg bg-light shadow fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/logo_forum.png" alt="logo" class="logo-size">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-font">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">ACCEUIL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="a-propos">A PROPOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="nos-activites">NOS ACTIVITES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="pourquoi-exposer">POURQUOI EXPOSER?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="inscription">INSCRIPTION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="contact">CONTACT</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- END NAV BAR -->

<router-outlet></router-outlet>
<footer class="py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item">
      <a routerLink="acceuil" class="nav-link px-2 text-muted">
        <b class="main-font-family">Acceuil</b>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="a-propos" class="nav-link px-2 text-muted">
        <b class="main-font-family">A propos</b>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="nos-activites" class="nav-link px-2 text-muted">
        <b class="main-font-family">Nos activités</b>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="pourquoi-exposer" class="nav-link px-2 text-muted">
        <b class="main-font-family">Pourquoi exposer</b>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="inscription" class="nav-link px-2 text-muted">
        <b class="main-font-family">Inscription</b>
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="contact" class="nav-link px-2 text-muted">
        <b class="main-font-family">Contact</b>
      </a>
    </li>
  </ul>
  <p class="text-center text-muted main-font-family">&copy; 2023 Forum Gabon Tunisie, Inc</p>
</footer>
