<div class="mt-3 text-white">
  <p>Under nav bar</p>
</div>
<!-- Home Section-->
<section id="home" class="mt-2">
  <div class="home img-fluid" >
    <div class="home-text text-warning">
      <h1><span>{{ currentText }}</span></h1>
      <h5>Du 14 au 15 Mai 2024, Hotel Laïco - Tunis</h5>
      <button class="btn btn-warning text-white" (click)="gotoInscriptionComponent()">Inscrivez vous</button>
    </div>
  </div>
  <div class="mt-2">
    <app-circle-compter></app-circle-compter>
  </div>
  <div class="container mt-2 text-center">
    <h1 class="main-font-family">Exposez dès maintenant au Forum Gabon Tunisie</h1>
    <button class="btn btn-warning text-end" (click)="gotoInscriptionComponent()"><b>Reserver votre stands</b></button>
  </div>
  <div class="mt-3 bg-warning">
    <div class="container p-4">
      <h3 class="text-center text-white main-font-family">
        3 Jours au coeurs du climat des affaires Gabonais et Tunisien
      </h3>
      <div class="row">
        <div class="col-md-4">
          <div class="home-img-container">
            <div class="img-center-both">
              <img src="assets/tableronde.png" alt="img1" class="triple-img-size">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="home-img-container">
            <div class="img-center-both">
              <img src="assets/conference.jpg" alt="img1" class="triple-img-size">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="home-img-container">
            <div class="img-center-both">
              <img src="assets/salle_exposition.png" alt="img1" class="triple-img-size">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About Section-->
<section id="a-propos" class="mt-3">
  <app-about></app-about>
</section>

<!-- Activity Section-->
<section id="activity" class="mt-3">
  <app-activity></app-activity>
</section>

<!-- Exposed Section-->
<section id="exposed" class="mt-3">
  <app-why-exposed></app-why-exposed>
</section>
